version: "3.4"
services:
  beacon-chain:
    image: "beacon-chain.lighthouse.dnp.dappnode.eth:0.1.0"
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v3.2.1
    volumes:
      - "beacon-data:/root/.lighthouse"
    ports:
      - "9104:9104/tcp"
      - "9104:9104/udp"
    restart: unless-stopped
    security_opt:
      - "seccomp:unconfined"
    environment:
      DEBUG_LEVEL: info
      BEACON_API_PORT: 3500
      HTTP_ENGINE: ""
      CORSDOMAIN: "http://lighthouse.dappnode"
      P2P_PORT: 9104
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
  validator:
    image: "validator.lighthouse.dnp.dappnode.eth:0.1.0"
    build:
      context: validator
      args:
        UPSTREAM_VERSION: v3.2.1
    restart: unless-stopped
    security_opt:
      - "seccomp:unconfined"
    environment:
      DEBUG_LEVEL: info
      HTTP_WEB3SIGNER: "http://web3signer.web3signer.dappnode:9000"
      BEACON_NODE_ADDR: "http://beacon-chain.lighthouse.dappnode:3500"
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
volumes:
  beacon-data: {}
